@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    background-color: #cccccc;
  }


h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}

h1 {
font-size: 36px;
}
p {
  line-height: 1.5;
  font-size: 16px;
}
li {
  list-style-type: none;
}
.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.container {
padding: 50px 0;
}

.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.html {
    overflow-x: hidden;3
}

.section__title {
    margin-bottom: 20px;
}

section:nth-child(even) {
    background-color: 	#99b3e6;
    filter: opacity(75%);
}

/* NAVIGATION BAR */

nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav__link--list {
  display: flex;
}
.nav__link--anchor {
  margin: 0 12px;
  color: #242424;
  text-decoration: none;
  font-weight: 700;
  transition: all 300ms ease;
}
.nav__link--anchor-primary {
  background-color: #2769ed;
  padding: 8px 20px;
  border-radius: 50px;
  color: white;
}

.nav__link--anchor-primary:hover {
  background-color: #2769ed;
}
.personal__logo {
  font-size: 24px;
  color: #2769ed;
  margin: 0 24px;
  font-weight: bold;
}

/* ABOUT ME */

#about-me {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about-me__info {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.about-me__info--title {
    font-family: 'Waiting for the Sunrise', cursive; 
    color: #2769ed;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #2769ed; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    animation: 
      typing 3s steps(40, end),
      blink-caret .75s step-end infinite;
}
  
    /* The typing effect */
    @keyframes typing {
      from { width: 0 }
    to { width: 100% }
    }
  
    /* The typewriter cursor effect */
    @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #2769ed; }
     }

.about-me__info--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
.about-me__picture--mask {
  width: 80px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 18px 16px rgba(0, 0, 0, 1);
  margin-bottom: 28px;
}
.about-me__picture {
  width: 100%;
}
.about-me__info--para {
    font-size: 20px;
    margin-bottom: 28px;

}
.about-me__link {
    font-size: larger;
    color: #2769ed;
    text-decoration: none;
    padding: 0 16px;
}
.about-me__img--container {
    flex: 1;
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;

}
.about-me__img {
    width: 100%;
    max-width: fit-content;
}

/* languages */

.language__img {
   width: 100%;
   max-width: 100px;
   transition: all 300ms ease;
}

.language .language__img:hover {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}

.language {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.language__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

.language__list {
    display: flex;
    width: 100%;
    flex: wrap;
    justify-content: center;
}
.language__name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms;
    font-size: 20px;
}
.language:hover .language__name {
    transform: scale(1);
}
